@import '../../mq';

@media #{$tabletPortrait} {
    @import '../mobile';
  	& {
      .container, .reviews .container {
        max-width: 560px;
      }
      .social-fixed {
        display: block;
      }
      .about-item, .reviews-item, .name-contrainer {
        max-width: 100%;
      }
      .head {
        text-align: left;
            background: url(../images/bg1.png) no-repeat 39% bottom;
        background-size: cover;
        min-height: inherit;
        .container {
          max-width: 95%;
        }
        .head-title p, .head-item p {
          margin: 0;
        }
      }
      .social-fixed {
        display: none;
        &.fixed {
          display: block;
        }
      }
	}
}
